@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

/* definir o tema dark do site  */
:root,
:root[data-theme='dark'] {
    /* Definir cores padrão em variáveis */
    --primary-color: #ebebeb;  /* cor textos */
    --primary-bg-color: #0e0d0d;  /* BG = Background */
    --secondary-bg-color: #504e4e;
    --primary-border-color: #777474; 
    --secondary-border-color: #ffff;

    /* Definir cores padrão para os textos em variáveis */
    --title-color: #fcfcfc;
    --text-color: #fff8f8;
    --link-color: #ff0000;
    --icon-color: #90ff64;
}
:root[data-theme='light'] {
    --primary-color: #0b0b0f;
    --primary-bg-color: #e9e9e9;
    --secondary-bg-color: #C7c8c9;
    --primary-border-color:  #C7c8c9;
    --secondary-border-color: #9a9a9c;
    --title-color: #0b0b0f;
    --text-color: #28292E;
    --link-color: #28292E;
    --icon-color: #56575A;
}


html[data-theme='light'] .brand-logo {
    filter: invert(1);
}
html[data-theme='light'] .tecnologias-logo {
    filter: invert(80%);
}

/*  Reset CSS  
    Padronizar Navegadores
*/ 
* {
    margin: 0;      /*margem*/  
    padding: 0;     /* espaçamento */
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-bg-color) transparent;
}
body {
    background: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color); /* cor do Texto*/
    transform: scale(0.8); /* Reduz a escala para 80% */
    transform-origin: top left;
    width: 125%; /* Aumenta a largura da página para compensar a redução */
    height: 125%; /* Aumenta a altura da página para compensar a redução */
    overflow-x: hidden; 
}

::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--secondary-bg-color);
    border-radius: 50rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
}
a:hover {
    color: var(--primary-color);
}
i {
    color: var(--icon-color);
}
b {
    font-weight: 400;
}
#titulo-saude{
   align-items: center;
   margin-bottom: -70px;
   text-align: center;
   margin-left: 370px;
   margin-top: 0;
}
h1 {
    font-size: 2.5rem;
    font-weight: 200;  
}
h2 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.4rem;

}
h3 {
    font-size: 1.55rem;
    text-align: left;
}
h4 {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.15rem;
    text-align: left;
}
h1, h2, h3, h4 {
    font-family: 'Monteserrat', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: var(--title-color);
    font-weight: 200;
}
h3{
    margin: 30px;
}
p, span, li {
    font-size: 1rem;
}
p {
    text-align: justify;
}
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;  /* comprimento*/
    padding: 0.5rem 1rem;
    z-index: 2; /* sobreposição */
}
.header-toggle{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 4%;
}
.header-brand /* .brand-logo */{
    width: 1rem; /* 3.25rem = 52px */
    height: 1rem;  /* altura */

}
.brand-logo{
    position: relative;
    bottom: 17px;
    height: 4rem;
    width: 4rem;
}
#toggleTheme{
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}
/* Container para organizar os inputs lado a lado */
.input-container input {
    border: 2px solid #ddd; /* / Borda leve / */
    border-radius: 8px; /* / Bordas arredondadas  */
    padding: 12px; /* / Espaçamento interno  */
    font-size: 16px; /* / Tamanho do texto  */
    outline: none; /* / Remove o contorno padrão ao focar  */
    transition: border-color 0.3s, box-shadow 0.3s; /* / Efeitos de foco suaves  */
    flex: 1 1 120px; /* / Define largura mínima e flexibilidade  */
    max-width: 150px; /* / Limita a largura máxima  */
}

/* / Placeholder estilizado / */
.input-container input::placeholder {
    color: #aaa; /* / Cor mais discreta / */
    font-style: italic; /* / Estilo diferenciado / */
}

/* / Efeito ao focar no input / */
.input-container input:focus {
    border-color: #007BFF; /* / Cor azul de destaque / */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);/*  / Sombra leve / */
}

/* / Ajuste para dispositivos móveis / */
@media (max-width: 600px) {
    .input-container {
        flex-direction: column; 
        gap: 10px; 
    }

    .input-container input {
        max-width: 100%; 
    }
} 
#operacao {
    border: 2px solid #ddd; 
    margin-top: 1rem;
    border-radius: 8px; 
    padding: 12px; 
    font-size: 16px; 
    outline: none; 
    transition: border-color 0.3s, box-shadow 0.3s; 
    background-color: #fff; 
    color: #333; 
    appearance: none; 
    width: 100%; 
    max-width: 200px; 
    cursor: pointer; 
}
.container-nav{
    position: relative;
    right: 480px;
}
/* / Efeito ao focar no select / */
#operacao:focus {
    border-color: #007BFF; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

/* / Estilo das opções do select  */
#operacao option { 
    padding: 10px; 
    background-color: #fff; 
    color: #333;
}
.menu{    /* UL */
    display: flex;
    align-items: center;    /* alinha os itens  */
    background-color: var(--primary-bg-color);
}
.menu-principal{
    gap: 1rem;
    padding-left:100px;
}
.menu-item{
    width: 120px; 
    padding: 0px 0px 0px 10px;
    color: rgb(172, 23, 23); 
    text-decoration: none; 
    transition: color 0.3s ease; 
} 

.menu-link {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}
.menu-link:hover {
    color: #ff5722;
}
.menu-link:hover .menu-text {
    color: #ff5722;
}

.menu-link:hover .menu-text {
    color: #ff5722; 
}


.menu-link{    /* Estrutura do Li */
    display: flex;  /* flex é usado quando é mobile e desktop */
    align-items: center;
    gap: .5rem;
    padding: 0px 0px 10px 10px;
}

.menu-link.active .menu-icon,
.menu-link.active .menu-text,
.menu-link:hover .menu-icon, 
.menu-link:hover .menu-text {
    color: var(--primary-color); /* para deixar cor quando uma das abas estiver aberta */
} 
.menu-text{    /* TAG span */
    font-size: .85rem;
    text-transform: uppercase;
    position: relative;
    left: 136.3px;
}
.menu-mobile{     
    width: 100vw;
    position: fixed; 
    bottom: 0;
    justify-content: space-between;
    border-top: 2px solid var(--primary-border-color);
}
.menu-mobile .menu-link{
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1rem;
}
.menu-icon, .menu-text{
    color: var(--text-color);
}
.menu-icon{
    font-size: 1.5rem;
}

.header-nav{
    display: none;

}
/* ------- Fim CSS Menu ------- */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: 100%;
    padding: 0.875rem 1.5rem;
    background: transparent;
    border-radius: 3.125rem;
    border: none;
    transition: ease-in-out .3s;
    cursor: pointer;
    color: var(--primary-color);
    /* box-shadow serve pra dar sombra ao botão com 3 valores mais a cor */
}
.btn:hover{
    transform: scale(1.05);
    transition: ease-in-out .3s;
}
.btn span, .btn i {
    font-size: 1.25rem;
    text-transform: uppercase;
}
.btn-primary span {
    color: var(--primary-color);
}
.btn-primary {
    border: 1px solid var(--primary-color);
}
#home, .projetos, .sobre, .contato {
    padding: 2.5rem 1rem;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.main-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


/* Estilo do section */

.tecnologias {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem; /* pra saber em "px" so pegar o valor e multiplicar por 16 */
    padding: 6.25rem 1rem 2rem;
    margin-top: -5.5rem;
    background: var(--secondary-bg-color);
}
.tecnologias h2{
    font-size: 2rem;
    text-transform: none;
    letter-spacing: normal;
    text-align: start;
}
.tecnologias-lista{
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
}
.tecnologias-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;
    border: 1px solid var(--secondary-border-color);
    border-radius: 5rem;
}
.tecnologias-logo{
    height: 2.4rem;
}
/* ------- Fim section ------- */

/* Projetos */
.projetos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.projetos-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.projeto-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.cartao {
   width: 100%;
   border-radius: 0.5rem;
   object-fit: cover;
   object-position: center;
}
.cartao-texto {
    border-radius:85px;
    width: 1400px;
    height:600px ;
    margin-top: 60px;
    text-align: center;
    margin: 10px 450px 10px 300px;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    gap: 1rem;
}
.card-descricao {
    color: var(--title-color);
}
.card-list {
    margin-left: 1.25rem;
}
.card-item {
    list-style: disc;
}
.card-button, .descricao-button{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.card-button .btn {
    padding: .65rem 1.25rem;
}
.card-button .btn span {
    font-size: 1rem;
}
.card-body .tecnologias-item{
    width: 4rem;
    height: 4rem;
}
.card-body .tecnologias-logo {
    height: 2rem;
}
.projetos .btn {
    width: auto;
    margin: auto;
}
/* ------- Fim projeto ------- */

/* Calculo TMB */
.calculotmb {
    text-align: center;
    font-family: 'montserrat';
}
.alimentacao {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem; /* pra saber em "px" so pegar o valor e multiplicar por 16 /
    padding: 6.25rem 1rem 2rem;
    margin-top: -5.5rem;
    margin-right: 10rem; / espaco lateral */
    margin-left: 10rem;
}

.botaotmb {

    display: block;
    margin: auto;
    margin-top: 30px;
    height: 40px;
    width: 100px;
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.infostmb {
    margin-top: 80px;
    text-align: center;
}
h4 {
    font-family: 'Monteserrat';
}
#resultadoSaida {
    font-size: 20px;
    max-width: 7px;
    display: inline;
    position: relative;
    top: 1rem;
}
.introducao {
   margin-right: 110px;
} 
/* Fim Calculo */

.sobre{
    display: flex;  /* Dimensiona as coisas pra não se sobre sairem  */
    flex-direction: column;
    gap: 1.5rem;
}
.sobre-content1, .sobre-content2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}
.sobre-foto {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50rem;
    border: 1px solid var(--primary-border-color);
}
.sobre-descricao {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem; 
}
.sobre-icons {
    display: flex;
    align-items: center;
    gap: .85rem;
}
.sobre-icons i {
    font-size: 1.25rem;
}
.sobre-content1 .col1, 
.sobre-content2 .col2 {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 2rem;
}
.sobre-content2 .col1 .row1,
.sobre-content2 .col1 .row2 {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.accordion-header {
    width: 100%;
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #8e978d;
    background: transparent;
    text-align: left;
    cursor: pointer;
    transition: ease-in-out .3s;
}
.accordion-header span {
    color: var(--title-color);
}
.accordion-header.start {
    border-radius: 1rem 1rem 0rem 0rem;
}
.accordion-header.end,
.accordion-item.active .accordion-body.end {
    border-radius: 0rem 0rem 1rem 1rem;
}
.accordion-item.active .accordion-header.end {
    border-radius: 0rem;
}
.accordion-body {
    display: none;
    padding: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: .625rem;
    border: 1px var(--secondary-bg-color);
}
.accordion-item.active .accordion-header {
    background: var(--secondary-bg-color);
}
.accordion-item.active .accordion-body {
    display: flex;
}
.accordion-item.active .bi-caret-down-fill {
    transform: rotate(180deg);
}

/* Contato */
.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-top: 1px solid var(--primary-border-color);
    border-bottom: 1px solid var(--primary-border-color-color);
}
.contato p {
    text-align: center;
}
.contato .btn {
    width: auto;
}
.contato .email {
    text-transform: lowercase;
}
.lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre as colunas */
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista li {
    flex: 1 1 30%; /* Três colunas ajustáveis */
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* footer */
footer {
    margin-bottom: 5rem;
}
footer p {
    font-size: .875rem;
    text-align: center;
    padding: 1rem;
}

/* responsividade */

@media (min-width: 768px ) {  
    .header {
        position: fixed;
        border-bottom: 1px solid var(--primary-border-color);
        padding: 1rem 6rem;
        background: var(--primary-bg-color);
    }

    .nav-mobile {
        display: none;  /* Fazem o menu superior sumir quando estiver no mobile  */
    }
    .header-nav {
        display: flex;
    }
    .header-nav, 
    .header-toggle {
        min-width: 30%;
    } 
    
    h1 {
        font-size: 3rem;
        margin: 30px 150px 0px 500px;
    }
    h2 {
        font-size: 3rem;
    }
    #home, .projetos, .sobre { /* Desgrudou dos cantos deixando tudo no centro */
        padding: 8rem 6rem 4rem 6rem;
    }
    .contato p {
        width: 80%;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .tecnologias {
        padding: 6.25rem 6rem 2rem 6rem;
        margin-top: -6rem;
    }
    footer {
        margin: 0;
    }
}

@media (min-width: 992px ) {
    .projeto-card {
        flex-direction: row;
    }

    .projeto-card.card-reverso {
        flex-direction: row-reverse;
        justify-content: space-between;  
    }
    .cartao {
        width: 55%;
    }
    .sobre {
        gap: 5rem;
    }
    .sobre-content1, .sobre-content2 {
        display: grid;
        grid-template-columns: 34% 60%; 
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4rem;
    }
    .sobre-decricao h2 {
        text-align: left;
    }
    .descricao-button {
        justify-content: flex-start;
    }
}
@media (min-width: 1200px) {
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    #home {
        padding: 12rem 6rem 2rem;
    }
    .main-content .btn {
        width: auto;
    }
    .tecnologias{
        flex-direction:column;
        justify-content: space-between;
        padding: 10rem 6rem 4rem;
    }
    .tecnologias h2 {
        font-size: 3rem;
        width: 55%;
    }
    .tecnologias-lista {
        gap: 1rem;
    }
    .tecnologias-item {
        width: 6rem;
        height: 6rem;
    }
    .tecnologias-logo { /* altera o tamanho dos icones */
        height: 3rem;
    }
    p, span, li {
        font-size: 1.15rem;
    }
    .card-button .btn,
    .descricao-button .btn {
        width: auto;
    }
}
@media (min-width: 1400px) {
    h1 {
        font-size: 6.25rem;
    }
    h2 {
        font-size: 4.5rem;
    }
    h3 {
        font-size: 3.25rem;
    }
    .header {
        padding: 1rem 15rem;
    }
    #home {
        padding: 12rem 15rem 2rem;
    }
    .tecnologias, .projetos, .sobre {
        padding: 10rem 13rem 4rem;
    }
}